// Variables
/* are placeholders for storing information that you want to reuse throughout your stylesheet
You can store things like colours, font-stacks, or any css value you think you might want to reuse
SASS uses the '$' to declare variables.*/

$primary: ;
$primary-dark: ;
$secondary: ;
$secondary-dark: ;

$background: ;

// Font Stacks
$helvetica: Helvetica, Arial, sans-serif;